@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
body {
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: 'JetBrains Mono', monospace;
background-image: linear-gradient(
	to right,
	#676767 0%,
	#3a3a3a 100%
);
}

.rock {
  background-color: #c79081;
}

.ghost {
  background-color: #cfd9df;
}

.electric {
  background-color: #f9d423;
}

.bug {
  background-color: #c5ffa1;
}

.poison {
  background-color: #d660df;
}

.normal {
  background-color: #e3fdf5;
}

.fairy {
  background-color: #fecfef;
}

.fire {
  background-color: #ff4907;
}

.grass {
  background-color: #35b142;
}

.water {
  background-color: #66a6ff;
}

.ground {
  background-color: #772f1a;
}

.app-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
padding: 3rem 1rem;
}

.pokemon-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.all-container {
  width: 100%;
  display: grid;
  grid-gap: 75px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-auto-flow: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.thumb-container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 1.5rem 0.2rem;
margin: 0.3rem;
border: 1px solid #efefef;
border-radius: 2rem;
min-width: 160px;
text-align: center;
box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

h3 {
margin-bottom: 0.2rem;
}

.thumb-container .number {
border-radius: 1rem;
padding: 0.2rem 0.4rem;
background-color: rgba(255, 255, 255, 0.3);
}

.detail-wrapper {
display: flex;
flex-direction: column;
width: 100%;
}

h3:hover {
text-decoration: underline;
}


